#star-player-2 {
  display: none
}

#star-player {
  height: 25px;
  width: 25px;
  position: inherit;
  z-index: 0;
  right: auto;
}

#generation-number-div {
  display: none;
}

#start-new-game {
  display: none;
}

#join-game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#player2-parameters {
  display: none;
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 20px;
  width: 600px;
  height: 60%;
  background: white;
  border: 3px solid black;
  color: black;
}